header form .btn {
	padding: 0 0.5rem 0 0.5rem;
	border-radius: 100%;
}

.files {
	width: -webkit-fill-available;
	overflow: auto;
}

.file-options {
	display: flex;
	flex-direction: row;
}

.file-options > div:nth-child(1) {
	flex: 1;
	padding: 0 0.2rem 0 0;
}

th, td {
	white-space: nowrap;
}
