body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
}

header,
footer {
	flex: none;
}

header img {
	width: 2.5rem;
}

footer {
	padding: 0.5rem;
}

.dropdown {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
}

body > div {
	flex: auto;
	margin: 0.4rem;
	display: flex;
}

.menu,
.files {
	display: flex;
	flex-direction: column;
	margin: 0.2rem;
}

.files {
	width: -webkit-fill-available;
	overflow: auto;
}

.btn {
	padding: 0.25rem;
	text-align: left;
}

.btn:not(.btn-success, .btn-danger):hover {
	color: #6ea8fe;
}

