body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
}

header,
footer {
	flex: none;
}

.navbar {
	justify-content: right;
}

header nav .navbar-brand {
	margin: 0 0.5rem 0 0.5rem;
}

header > nav > button.btn.btn-primary.navbar-brand {
	padding: 0;
}

.flex-fill {
	flex: auto;
}

header form .btn {
	padding: 0 0.65rem 0 0.65rem;
	border-radius: 100%;
}

.center {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

header img {
	width: 2.5rem;
}

footer {
	padding: 0.5rem;
}

.dropdown {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	align-content: center;
}

body > div {
	flex: auto;
	margin: 0.4rem;
	display: flex;
}

.menu,
.files {
	display: flex;
	flex-direction: column;
	margin: 0.2rem;
}

.files {
	width: -webkit-fill-available;
	overflow: auto;
}

.file-options {
	display: flex;
	flex-direction: inline;
}

.file-options > div:nth-child(1) {
	flex: 1;
	padding: 0 0.2rem 0 0;
}

th, td {
	white-space: nowrap;
}

.btn {
	padding: 0.25rem;
	text-align: left;
	white-space: nowrap;
}

.btn:not(.btn-success, .btn-danger):hover {
	color: #6ea8fe;
}

