@media (max-width: 900px) {
	header > nav > .flex-fill {
		flex: 0 !important;
	}
	header > nav > div.flex-r {
		flex: 1;
	}
}

#filePathButtons {
	padding: 0 0.5rem 0 0.5rem;
}

div.files {
	width: -webkit-fill-available;
	overflow: auto;
}

div.files > div.flex-c{
	width: 100%;
}

th, td {
	white-space: nowrap;
}

.popupContainer { 
	background-color: var(--bs-dark-border-subtle);
	border-radius: 0.375rem;
}

.popupContainer .margin-sides {
	margin: 0 0 0 0.3rem;
}
