header form .btn {
	padding: 0 0.5rem 0 0.5rem;
	border-radius: 100%;
}

@media (max-width: 900px) {
	header > nav > .flex-fill {
		flex: 0 !important;
	}
	header > nav > form {
		flex: 1;
	}
}

div.files div.center-y.flex-1.overflow-x-auto {
	padding: 0 0.5rem 0 0.5rem;
}

div.files {
	width: -webkit-fill-available;
	overflow: auto;
}

div.files > div.flex-c{
	width: 110%;
}

div.flex-0-1 {
	flex: 0 1 auto;
}

th, td {
	white-space: nowrap;
}
