#content {
	flex: auto;
	margin: 0.4rem;
	display: flex;
}

#menu-toggle {
	padding: 0;
}

.btn:not(.popupContainer .btn) {
	padding: 0.25rem;
	text-align: left;
	white-space: nowrap;
	border: 0;
}

table > thead > tr > th.selected,
.btn:not(.btn-success, .btn-danger):hover {
	color: #6ea8fe;
}

#menu,
#files {
	display: flex;
	flex-direction: column;
	margin: 0.2rem;
}
